<div class="wrapper">

  <div class="cocktail-img"></div>
  <div class="cocktail-container">
    <div class="cocktail-header">
      <h1><%= @cocktail.name %></h1>
      <div>
        <%= link_to "Back", root_path,  class: "btn btn-danger" %>
      </div>
    </div>
      <% @cocktail.doses.each do |dose| %>
        <div>
          <p> <strong><%= dose.ingredient.name %> </strong> <%= dose.description %> <%= link_to "🗑", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %> </p>
        </div>
      <% end %>

      <%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail),  class: "btn btn-primary" %>
  </div>

</div>
